.main-content {
    padding: 10px;
}

.styled-table .col_name,
.styled-table .col_isbn,
.styled-table .col_expiry {
    width: calc(80% / 3);
    padding: 12px 15px;
}

.styled-table .col_status,
.styled-table .col_command {
    width: calc(20% / 2);
    padding: 12px 15px;
}


.modal-box {
    display: none;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    display: flex;
    background-color: #fefefe;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.book-cover-container {
    height: 100%;
    width: 200px;
    align-self: center;
    padding-right: 15px;
    overflow: hidden;
}

.book-cover {
    vertical-align: middle;
    width: 100%;
}

.modal-content .right {
    flex: 1;
    position: relative;
    padding-left: 15px;
    padding-bottom: 100px;
    border-left: 1px solid black;
}

.modal-content .note {
    position: absolute;
    bottom: 50px;
    left: 15px;
    margin: 0;
}

.modal-content .modal-close {
    position: absolute;
    height: 40px;
    width: 80px;
    right: 100px;
    bottom: 0;
    text-align: center;
    font-style: normal;
    background-color: #ff0000;
    color: white;
    border: 1px solid #a01685;
    border-width: 1px 1px 3px;
    border-radius: 5px;

}

.modal-content .modal-confirm {
    position: absolute;
    height: 40px;
    width: 80px;

    right: 0;
    bottom: 0;
    text-align: center;
    font-style: normal;
    background-color: #00ff00;
    color: white;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    border-radius: 5px;
}


@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

